@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

img {
    height: 50px;
    width: 50px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}

/* whole page */

.page-content {
    display: grid;
    height: 100%;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 85vh;
}

/* left side of page */

.settings-chats-section{
    width: 100%;
}

.settings-chats-section > button, .settings-chats-section > input {
    height: 117px;
}

.settings-chats-section > button {
    width: 30%;
}

.settings-chats-section > input {
    width: 60%;
}

.chats {
    height: 100%;
}

#temp-chat {
    padding: 20px;
}

#temp-chat > img{
    width: 97px;
    height: 88px;
}

/* middle side of page */ 
.chat-info {
    display: grid;
    position: relative;
    align-items: center;
 
    grid-template-columns: 97px 20% auto;
    grid-template-rows: repeat(2, 50%);
    grid-column-gap: 20px;
 
    padding-left: 50px;
    padding-right: 50px;
 
    height: 12vh;
 
    border: 3px solid #000000;
}
 
.chat-info > img {
    display: block;
 
    width: 97px;
    height: 88px;
 
    margin-top: -50px;
}
 
#chat-photo {
    float: left;
}
 
#chat-name {
    grid-column-start: 1;
    grid-column-end: 4;
 
    text-align: center;
 
    font-size: 36px;
    font-weight: 400;
}
 
#kind-of-chat {
    justify-self: end;
}
 
#users-count {
    justify-self: start;
}

.correspondence{
    position: relative;
    width: 100%;
    height: 63vh;
}

.text-area {
    position: absolute;
    bottom: 0;
    height: 10vh;
}

.temp-other-users-message {
    position: absolute;
    bottom: 20%;
}
