@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

img {
    height: 50px;
    width: 50px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow:  hidden;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}

/* whole page */
.page-content {
    display: grid;
    height: 100%;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100vh;
}

/* left side of page */

.settings-chats-section, .user-chats, .user-settings{
    width: 100%;
    height: 100%;
}

.search-and-settings {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 5vh;
    border: 2px solid #000000;
    border-right: none;
}

/* user-chats */

.search-and-settings  > button {
    font-size: 18px;
    border-right: 2px solid black;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.search-and-settings  > input {
    font-size: 18px;
    padding: 5px;
}

.chats {
    height: 95%;
    overflow: scroll;
    overflow-x:hidden;
    border: 2px solid black;
    border-top: none;
    border-right: none;
}

#zero-chats-message{
    margin-top: 80%;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

/* user-settings */

.user-settings {
    border: 3px solid black;
    border-right: none;
}

#back-to-chat-button {
    display: block;
    width: 50px;
    height: 50px;
    margin: 20px;
}
#back-to-chat-button:hover {
    cursor: pointer;
}

#user-photo {
    margin: auto;
    margin-top: 5%;
    display: block;
    width: 200px;
    height: 200px;
}

#change-photo-button{
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
    border: none;
    margin-top: 10px;
}

#change-photo-button:hover{
    cursor: pointer;
    text-decoration: none;
    color: #346ABC;
    border: none;
    background-color: white;
}

.user-settings > p {
    margin: auto;
    font-size: 36px;
    border: 2px solid #346ABC;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.user-settings > p.create-chat-button:hover {
    cursor: pointer;
    border: none;
    background-color: #346ABC;
    color: white;
}

.user-settings > p.username {
    font-size: 42px;
    border: none;
    margin-top: 10%;
    padding: none;
    border-radius: none;
    text-align: center;
}

/* search results*/

/* user search results */
.user-search-block {
    display: grid;
    width: 100%;
    height: 20%;
    grid-template-columns: 40% 60%;
    border: 2px solid black;
    border-top: none;
    border-right: none;
}

.user-search-block > img {
    width: 70px;
    height: 70px;
    margin-left: 50%;
}

.user-search-info > p {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

#nothing-found-text{
    margin-top: 40%;
    text-align: center;
}

/* chats */

.chat {
    position: relative;
    padding: 20px;
    border: 2px solid black;
    border-top: none;
    border-right: none;
}

.chat:hover {
    background-color: #346ABC;
    cursor: pointer;
}

.chat:hover .temp-chat-name, .chat:hover .temp-last-message{
    color: white;
    cursor: pointer;
}

.chat > img{
    position: absolute;
    top: 0px;
    left: 5%;
    width: 97px;
    height: 88px;
}

.temp-chat-name {
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px;
}

.temp-last-message {
    font-size: 18px;
    text-align: center;
}

/* modal window */
.close{
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 30px;
    background: #000;
    color: #fff;
    cursor: pointer;
    border: 0;
}

.mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.8);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    margin-left: -200px;
    margin-top: -150px;
    background: white;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    transform: translateY(45px);
    padding: 20px;
}

.active{
    visibility: visible;
    opacity: 1;
}

.active + .modal{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.modal > img {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

.modal > p{
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
}

.modal > p:hover{
    color: #346ABC;
    text-decoration: none;
    cursor: pointer;
}

.chat-info-fields {
    display: grid;
    width: 100%;
    height: 30%;
    grid-template-columns: 70% 30%;
}

.modal > input.confirm-create-chat-button {
    width: 100%;
    background-color:  black;
    color:  white;
    font-size: 28px;
    margin-top: 10px;
    height: 16%;
}

.chat-type-select {
    display: block;
    height: 40%;
    margin-top: 3%;
    font-size: 18px;
    width: 100%;
}

/* middle side of page */ 
#chat-info {
    display: grid;
    position: relative;
    align-items: center;
 
    grid-template-columns: 97px 20% auto;
    grid-template-rows: repeat(2, 50%);
    grid-column-gap: 20px;
 
    padding-left: 50px;
    padding-right: 50px;
 
    height: 12vh;
 
    border: 3px solid #000000;
}

#chat-info #chat-logo{
    position: absolute;
    top: 50%;
    left: 25%;
}

#chat-info h2 {
    position: absolute;
    top: 20%;
    left: 40%;
}
 
#chat-info > img {
    display: block;
 
    width: 97px;
    height: 88px;
 
    margin-top: -50px;
}
 
#chat-photo {
    float: left;
}
 
#chat-name {
    grid-column-start: 1;
    grid-column-end: 4;
 
    text-align: center;
 
    font-size: 36px;
    font-weight: 400;
}

#kind-of-chat { 
    justify-self: end;
}
 
#users-count {
    justify-self: start;
    margin-left: 20%;
}

.container {
    height: 80vh;
    width: 100%;
    border: 3px solid #000000;
    border-top: none;
    background-color: #346ABC;
    overflow-y: scroll;
    overflow-x: hidden;
}

.correspondence {
    position: relative;
    height: 100%;
}

#start-correspondence-text {
    position: absolute;
    top: 50%;
    left: 27%;
    color: white;
}

.temp-login-user-message {
    margin: 20px;
    width: 100%;
    overflow: hidden;
}

.temp-login-user-message > span {
    display: block;
    float: right;
    text-align: center;
    background-color: #24BC21;
    padding: 15px;
    border-radius: 25px;
}

.temp-login-user-message > p {
    background-color: #346ABC;
}

.message-status {
    float: right;
    width: 20px;
    text-align: center;
    background-color: #346ABC;
    margin-right: 4%;
    margin-top: 30px;
    padding: 0;
    border-radius: 0;
    color: #FFFBFB;
    text-align: center;
}

.temp-login-user-message > img {
    display: block;
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    width: 100px;
    height: 100px;
}

.temp-other-users-message {
    margin: 20px;
    width: 100%;
    overflow: hidden;
}
  
.temp-other-users-message > span {
    display: block;
    float: left;
    margin-left: 20px;
    text-align: center;
    background-color: #FFFBFB;
    padding: 15px;  
    border-radius: 25px;
}
  
.temp-other-users-message > img {
    display: block;
    float: left;
    margin-left: 20px;
    width: 100px;
    height: 100px;
}

#user-typing-indicator {
    position: absolute;
    text-align: center;
    bottom: 10px;
    width: 100%;
    height: 35px;
    color: #FFFBFB;
    font-size: 24px;
}

.text-area > input {
    width: 100%;
    height: 8vh;
    border: 3px solid #000000;
    border-top: none;
    font-size: 24px;
    padding: 10px;
}

/* right side of page */
.stickers-section {
    border: 3px solid #000000;
    border-left: none;
    height: 100vh;
}

.stickers-section > p {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.stickers {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    border-left: none;
    padding-bottom: 8.6%;
    border-top: 3px solid #000000;
    border-bottom: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

.stickers > img {
    display: block;
    margin: auto;
    width: 140px;
    height: 130px;
}

#last-sticker {
    height: 120px;
}

/*-------------- mobiles ---------------*/

@media screen and (max-width: 767px) {

    /* whole page */
    .page-content {
        display: grid;
        height: 100%;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(1, auto);
    }

    .chats{
        border-right: 2px solid black;
    }

    .search-and-settings {
        border: 2px solid black;
    }

    .correspondence-section, .stickers-section {
        display: none;
    }

    .temp-chat-name, .temp-last-message, #temp-chat-name, #temp-last-message {
        margin-left: 20%;
    }

    .chat, #temp-selected-chat {
        border-left: none;
    }
}
